.AddQuestion-container {
    width: 97%;
    margin: auto;
}

.AddQuestion-container .head-quizCode .quizCode{
    display: flex;
    gap: 10px;
}
.AddQuestion-container .head-quizCode .quizCode .quizCodeCopy{
    border: 1px solid;
    border-radius: 10px;
    padding: 8px;
    background: aliceblue;
    transition: 0.3s transform;
    cursor: pointer;
}
.AddQuestion-container .head-quizCode .quizCode .quizCodeCopy:hover{
    transform: scale(1.05);
}
.AddQuestion-container .head-quizCode .quizCode  .CopiedMessage{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background: antiquewhite;
    height: 30px;
    margin-top: 6px;
    border-radius: 10px;
}
.AddQuestion-container .addquest-btn{
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}
.AddQuestion-container .add-btn{
    display: flex;
    justify-content: flex-end;
}
.AddQuestion-container .questions-container{
    margin-top: 10px;
}
.AddQuestion-container .questions-container .question{
    border: 1px solid;
    padding: 10px;
    margin: 4px 0px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: aliceblue;
    transition: transform 0.5s;
}
.AddQuestion-container .questions-container .question:hover{
    background: wheat;
    transform: scale(1.02);
}
.AddQuestion-container .questions-container .question .icons{
    display: flex;
    gap: 10px;
}
