.AttendQuiz-container{
    display: flex;
    height: 91vh;
    
}
.AttendQuiz-container .leftContainer{
    border: 1px solid;
    flex-basis: 80%;
    padding: 10px;
}
.AttendQuiz-container .rightContainer{
    border: 1px solid;
    flex-basis: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.AttendQuiz-container .rightContainer .questionContainer{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.AttendQuiz-container .rightContainer .questionNumber{
    border: 1px solid;
    cursor: pointer;
    background: wheat;
    padding: 5px;
    transition: 0.5s transform;
    border-radius: 10px;
    
}
.AttendQuiz-container .rightContainer .questionNumber:hover{
    transform: scale(1.05);
}
.AttendQuiz-container .rightContainer .timer h4{
    border: 1px solid ;
    /* width: 5rem; */
    background-color: aqua;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.AttendQuiz-container .rightContainer .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
    background-color: wheat;
    border-radius: 10px;
    padding: 10px;
}
