.AttendQuiz-container{
    display: flex;
    height: 91vh;
    
}
.AttendQuiz-container .leftContainer{
    
    border-right: 1px solid;
    flex-basis: 80%;
    padding: 10px;
}
.AttendQuiz-container .rightContainer{
    flex-basis: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.AttendQuiz-container .rightContainer .questionContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 2rem;
    overflow-y: auto;
    height: 18.5rem;
    padding-top: 12px;
    overflow-x: hidden;
}
.AttendQuiz-container .rightContainer .questionNumber{
    border: 1px solid;
    cursor: pointer;
    background: wheat;
    padding: 5px;
    transition: 0.5s transform;
    border-radius: 10px;
    width: 13rem;
    margin: auto;
}
::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
.AttendQuiz-container .rightContainer .questionNumber:hover{
    transform: scale(1.05);
}
.AttendQuiz-container .rightContainer  .scale{
    transform: scale(1.05);
}
.AttendQuiz-container .rightContainer .timer h4{
    border: 1px solid ;
    /* width: 5rem; */
    background-color: aqua;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.AttendQuiz-container .rightContainer .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
    background-color: wheat;
    border-radius: 10px;
    padding: 10px;
}
.AttendQuiz-container .rightContainer .prevNextBtn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}
.AttendQuiz-container .rightContainer .prevNextBtn .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eaeaea;
}
.AttendQuiz-container .rightContainer .prevNextBtn .nextAvail{
    opacity: 0;
    cursor:auto;
}
.AttendQuiz-container .rightContainer .prevNextBtn .prevAvail{
    opacity: 0;
    cursor: auto;
}


@media only screen and (max-width: 658px) {
    
    .AttendQuiz-container{  
        flex-direction: column;
    }
    .AttendQuiz-container .rightContainer{
        padding: 17px;
    }
    .AttendQuiz-container .leftContainer{
        
        border-right: none;
        border-bottom: 1px solid ;
    }
    .AttendQuiz-container .rightContainer .questionNumber{
        width: 94%;
    }
}