.AttemptQuizStarter-container{
    display: flex;
}
.AttemptQuizStarter-container .leftContainer{
    flex-basis: 40%;
    height: 92vh;
    padding: 0px 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}
.AttemptQuizStarter-container .leftContainer .quizTitle{
    display: flex;
    flex-direction: column;
    gap: 1rem;    
}
.AttemptQuizStarter-container .leftContainer .quizDetails{
    display: flex;
    gap: 2rem;
}
.AttemptQuizStarter-container .leftContainer .quizDetails h6{
    color: #929090;
}
.AttemptQuizStarter-container .leftContainer .quizDetails h5{
    color: #3b3e40;
}
.AttemptQuizStarter-container .rightContainer{
    flex-basis: 60%;
    background-color: #dfe1e2;
    height: 92vh;
    padding: 0px 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.AttemptQuizStarter-container .rightContainer .QuizInstructions{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media only screen and (max-width: 924px) {
    
    .AttemptQuizStarter-container{
        flex-direction: column;
        height: 100vh;
    }
    .AttemptQuizStarter-container .leftContainer{
        padding: 0 1rem;
    }
    .AttemptQuizStarter-container .rightContainer{
        padding: 0 1rem;
    }
}