.Login-Register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
    width: 100%;
}
.Login-Register-SubContainer{
    width: 28rem;
    padding: 16px;
    background: aliceblue;
    border-radius: 12px;
}
.username-container{
    margin-top:10px ;
}